body {
    background-image: url(https://dl.dropboxusercontent.com/u/159328383/background.jpg);
}

form {
    margin: 0 auto;
    width: 250px;
}

input {
    width: 250px;
}

#add_company_button {
    width: 250px;
    margin-top: 10px;
}

#main_button, #logout_button {
    float: right;
    margin-right: 20px;
    width: 100px;
}

.top_bar {
    position: relative;
    height: 100px;
}

.header {
    position: relative;
    text-align: center;
    height: 50px;
}

.buttons {
    position: absolute;
    right: 0px;
    bottom: 25px;
}

label {
    color: #ffffff;
}

h1, h3, #welcome_message, .errorlist {
    text-align: center;
    color: #ffffff;
}

#company_table {
    margin-bottom: 50px;
}

td, th {
    color: #ffffff;
}

.errorlist {
    color: #ffffff;
}

tr:hover td {
    background-color: #337AB7;
}
